html * 
{
    font-family: 'Roboto', sans-serif;
}
.customCardImg{
    margin: 10px;
    max-height: 200px;
    margin-left: 25px;
}
/* Gradients */
.gradient-blue {
    /* fallback for old browsers */
    background: #6a85b6;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 133, 182, 0.5), rgba(186, 200, 224, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 133, 182, 0.5), rgba(186, 200, 224, 0.5))
}
.gradient-green {
    /* fallback for old browsers */
    background: #43e97b;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, rgba(80, 241, 134, 0.781), rgba(56, 249, 215, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, rgba(80, 241, 134, 0.781), rgba(56, 249, 215, 0.5))
}
.gradient-yellow {
    /* fallback for old browsers */
    background: #fa709a;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(255, 179, 37, 0.849), rgba(255, 229, 79, 0.856));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255, 179, 37, 0.849), rgba(255, 229, 79, 0.856))
}